body {
    color: rgba(255, 255, 255, 0.95);
    background: #000;
    padding: 5vh 5vw;
    max-width: 840px;
    font-family: "Montserrat", sans-serif;
}

h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 2.2rem;
}

a {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.95);
    border-bottom: 1px dotted rgba(255, 255, 255, 0.95);
}

li {
    margin-bottom: 5px;
}